* {
  margin: 0;
  padding: 0;
  font-family: "Outfit";
  color: rgb(240, 240, 240);
  border: none;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 48, 48);
}

h2 {
  font-size: 2.6em;
  margin-bottom: 0.2em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  padding: 1em 2em 1.4em 2em;
  background-color: rgb(36, 36, 36, 0.6);
  backdrop-filter: blur(4px);
}

header h1 {
  font-size: 2.4em;
  font-weight: 500;
  color: rgb(240, 240, 240);
}

header a {
  font-size: 1.4em;
  font-weight: 500;
  text-decoration: none;
  margin: 0.4em;
  color: rgb(220, 220, 220);
}

header a:hover {
  color: white;
}

main {
  flex-grow: 1;
  margin: 6em 2em 2em 2em;
}

#about-me-technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
}

@media(max-width: 1000px){
  #about-me-technologies {
  grid-template-columns: 1fr;
  }

  #technologies {
    margin-top: 4em;
  }
}

#about-me-technologies h1,
#about-me-technologies h2 {
  font-size: 2.6em;
  margin-bottom: 0.2em;
}

#about-me-technologies p {
  font-size: 1.2em;
}

#tech-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tech-grid div {
  padding: 0.3em 1.2em;
  margin: 0.2em 0.8em;
  display: flex;
  align-items: center;
}

#tech-grid img {
  width: 42px;
  height: 42px;
}

#tech-grid span {
  margin: 0 0 0 0.4em;
  font-size: 1.2em;
}

#galery {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

@media(max-width: 1000px){
  .grid {
  grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 600px){
  .grid {
  grid-template-columns: 1fr;
  }
}

.grid img {
  width: 100%;
}